body{
    background-color: rgb(99, 81, 73);
    font-family: 'Times New Roman', 'Verdana', 'Arial', Times, serif;
    max-width: 1300px; 
    margin:auto;
}

div{
    padding: 10px;
}


.container{
    border: 10px outset rgb(155, 120, 120);
    padding: 0px;
    margin: auto;
}

.titulo{
    background-color: rgb(130, 102, 88);
    text-align: center;
    border: 1px solid black;
    border-bottom: 0;
}

.historia{
    background-color: rgb(157, 119, 100);
    text-align: center;
    border: 1px solid black;
    border-bottom: 0;
}

.txt1{
    background-color: rgb(157, 119, 100);
    text-align: justify;
}

.caractesristica{
    background-color: rgb(212, 182, 166);
    text-align: center;
    height: 280px;
    border: 1px solid black;
    border-bottom: 0;
}

.img1{
    display: inline-block;
}

.txt2{
    width: 880px;
    display: flex;
    float: right;
    text-align: justify;
}

.impacto{
    background-color: rgb(157, 119, 100);
    text-align: center;
    border: 1px solid black;
    border-bottom: 0;
}

.txt3{
    text-align: justify;
    border-top: 0px;
    padding: 20px;
    padding-top: 0px;
}

.im{
    background-color: rgb(212, 182, 166);
    border: 1px solid black;
    border-bottom: 0;
    text-align: center;
}

.imagens{
    background-color: rgb(212, 182, 166);
    justify-content: space-around;
    display: flex;
    border: 1px solid black;
    border-top: 0;
    text-align: center;
}